<div class="card">
  <img class="card-img-top" src="https://images.pexels.com/photos/17905201/pexels-photo-17905201/free-photo-of-black-and-white-picture-of-birds-sitting-on-an-electricity-line.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="lyric image">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Lyrics</small>
    <small class="bg-light text-success text-center ml-3">Tabs</small>
    <small class="bg-light text-info text-center ml-3">Video</small>

    <h5 class="mt-1">Zombie</h5>
    <h6>The Cranberies</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, a! Dicta error expedita neque, nesciunt porro nihil dolores id labore, consequuntur facilis.</p>

    <small class="bg-light text-warning text-center ml-3">Updated 11/9/2023</small>

  </div>
</div>
