<section class="terms-page pt-5">
  <div class="container mb-5 p-5 about-us-card">
    <h1 class="text-white text-center">Terms & conditions</h1>
    <div class="p-5 mt-4 about-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non repellendus nemo blanditiis laboriosam qui! Eaque enim vero amet explicabo! Ab, quas. Quo iusto esse libero ea excepturi rerum asperiores dolorem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non repellendus nemo blanditiis laboriosam qui! Eaque enim vero amet explicabo! Ab, quas. Quo iusto esse libero ea excepturi rerum asperiores dolorem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non repellendus nemo blanditiis laboriosam qui! Eaque enim vero amet explicabo! Ab, quas. Quo iusto esse libero ea excepturi rerum asperiores dolorem.</p>
    <div class="text-center">
      <button class="btn btn-info btn-sm mt-4">Back to Home</button>
    </div>
    </div>
  </div>
</section>
