<div class="container single-post">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://images.pexels.com/photos/13673996/pexels-photo-13673996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post image">
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center">Featured</small>
          <small class="bg-light text-info text-center">Views 100.254</small>
          <small class="bg-light text-warning text-center">Updated 11/9/2023</small>

          <h1 class="mt-3 mb-3">How to start a blog?</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Omnis ut distinctio a aut harum recusandae,
            non beatae accusantium in velit minima veniam quo porro quasi,
            expedita magnam sit provident laborum?</p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comments-list></app-comments-list>
    </div>
    <div class="col-md-3">
      <app-lyrics-card></app-lyrics-card>
      <app-lyrics-card></app-lyrics-card>
      <app-lyrics-card></app-lyrics-card>
      <app-lyrics-card></app-lyrics-card>
    </div>
  </div>
</div>
